NODE_ENV=development
PORT=3000

MONGODB_URI=mongodb://localhost:27017/yallacphq

# Use a long random secret (>= 32 chars)
JWT_SECRET=change_me_change_me_change_me_change_me
JWT_EXPIRES_IN=15m

LOG_LEVEL=debug

